.galleryList {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
.galleryItem {
  flex-basis: calc((100% - 40px) / 4);
}
